:root{
  --bs-body-font-family: serif;
  --bs-heading-font-family: serif;
  --bs-fw-regular: 400;
  --bs-fw-semi-bold: 500;
  --bs-fw-bold: 700;

  --bs-fs-1: 2rem;
  --bs-fs-2: 2rem;

  --bs-body-font-size: var(--bs-fs-1);
  --bs-heading-font-size: var(--bs-fs-2);

}

@media (min-width: 992px) {
  :root{
    --bs-body-font-size: var(--bs-fs-1);
    --bs-heading-font-size: var(--bs-fs-2);
  }
}